body {
    background: rgb(222, 238, 220);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background: rgb(166, 162, 160);
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 60px;
    padding-top: 0;
    position: relative;
    background-color: lightgrey;
    text-align: center;
}
section.home {
    background: rgb(121, 146, 93);
    padding-top: 20px;
    position: relative;
    bottom: 0;
    height: 100%;
    text-align: center;
}
div{
    background: #dee0d1;
    text-align: center;
}
ul {
    margin: 0%;
    padding: 0%;
}
li {
    display: inline-block;
    margin: 20px;
}
p {
    background: lightgrey;
    width: 300px;
    border: 15px solid black;
    padding: 50px;
    margin: 20px;
    text-align: center;
    margin: auto;
}
section.table, table, th, td {
    border: 1px solid black;
    width: 960px;
    text-align: left;
    border-collapse: collapse;
    padding: 20px;
    margin:0 auto;
}
section table tr td {
    font-size: 30px;
    text-align: center;
}
section h2 {
    margin:0 auto;
    padding: 5px;
    font-size: 50px;
    text-align: center;
}
.images {
    text-align: center;
}